@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.svg") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("Roboto-Black.eot");
  src: url("Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Black.woff2") format("woff2"),
    url("Roboto-Black.woff") format("woff"),
    url("Roboto-Black.ttf") format("truetype"),
    url("Roboto-Black.svg#Roboto-Black") format("svg");
}

body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
